.season-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.season-subdisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:x-large;
  }


.Winter {
  background-color:rgb(234, 248, 255);
}

.Summer {
  background-color: rgb(255, 161, 20);
}

.season-display.Winter i {
  color: rgb(41, 116, 255);
}

.season-display.Summer i {
  color: rgb(255, 38, 0);
}
